<!doctype html>
{% load static %}
<html>
<head>
<title>Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- font files  -->
<link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Nunito:400,300,700' rel='stylesheet' type='text/css'>
<!-- /font files  -->
<!-- css files -->
<link href="{% static 'css/style.css' %}" rel='stylesheet' type='text/css' media="all" />
<!-- /css files -->
</head>
<body>
<h1>Register</h1>
<div class="log">
	<div class="content2">
		<h2>Register</h2>
		<form  action="{% url 'login:registlogic'%}" method="post">
            {% csrf_token %}
			<input id="id_username" type="text" name="username" value="USERNAME" onblur="pdusername();" onfocus="if (this.value=='USERNAME' ){this.value = '';}">
            <div><span id="sp_username" ></span></div>
			<input id="id_phone" type="tel" name="phone" value="PHONE" onfocus="if (this.value=='PHONE'){this.value = '';}" onblur="pdpthone();">
            <div>
                <span id="sp_phone"></span></div>
            <input id="id_email" type="email" name="email" value="EMAIL ADDRESS" onfocus="if (this.value=='EMAIL ADDRESS'){this.value = '';}" onblur="pdemail();">
            <div>
                <span id="sp_email"></span></div>
			<input id="id_password" type="password" name="pwd" value="PASSWORD" onfocus="if (this.value=='PASSWORD'){this.value = '';}" onblur="checkpwd()">
            <div>
                <span id="sp_password"></span></div>
			<input type="submit" class="register" value="Register" onclick="return checkstatus();">
		</form>
	</div>
	<div class="clear"></div>
</div>
<div class="footer">
	<p>Copyright &copy;  <a href="http://www.baizhiedu.com/" target="_blank" title="百知教育">百知教育</a></p>
</div>
<script src="{% static 'jq/jquery-1.11.1.js' %}"></script>
<script type="text/javascript">
    function pdusername() {
        username=document.getElementById('id_username');
        if (username.value=='')
        {document.getElementById('id_username').value='USERNAME';}
        $.ajax({
            type:'get',
            url:'{% url 'login:usernameajax'%}',
            data:'username='+username.value,
            success:function (meg) {
                sp_username=document.getElementById('sp_username');
                if(meg == "该用户名已注册"){
                   sp_username .innerHTML='该用户名已注册';
                   sp_username.style.color='red'
                }else if (meg == "该用户名可用"){
                    sp_username.innerHTML='该用户名可用';
                    sp_username.style.color='white'
                }
            }
        })
    }
    function pdpthone() {
        phone=document.getElementById('id_phone');
        sp_phone=document.getElementById('sp_phone');
         var reg2=/^(((13[0-9]{1})|(15[0-9]{1})|(18[0-9]{1}))+\d{8})$/;
        if (phone.value=='PHONE'){
            sp_phone.innerHTML='请填写手机号';
            sp_phone.style.color='white'
        }else if(phone.value==''){
            phone.value='PHONE';
            sp_phone.innerHTML='请填写手机号';
            sp_phone.style.color='white'
        }else if(reg2.test(phone.value)){
            sp_phone.innerHTML='手机号可用';
            sp_phone.style.color='white'
        }else {
            sp_phone.innerHTML='手机号格式不正确';
            sp_phone.style.color='white'
        }
    }
    function pdemail() {
        email=document.getElementById('id_email');
        sp_email=document.getElementById('sp_email');
         var reg=/^([a-zA-Z]|[0-9])(\w|\-)+@[a-zA-Z0-9]+\.([a-zA-Z]{2,4})$/;
        if (email.value=='EMAIL ADDRESS'){
            sp_email.innerHTML='请填写邮箱';
            sp_email.style.color='white'
        }else if(email.value==''){
            email.value='EMAIL ADDRESS';
            sp_email.innerHTML='请填写邮箱';
            sp_email.style.color='white'
        }else if(reg.test(email.value)){
            sp_email.innerHTML='邮箱可用';
            sp_email.style.color='white'
        }else {
            sp_email.innerHTML='邮箱格式不正确';
            sp_email.style.color='white'
        }
    }
       function checkpwd() {
        pwd=document.getElementById("id_password");
        s4=document.getElementById("sp_password");
        if (pwd.value=='PASSWORD'){
            s4.innerHTML='请填写密码';
            s4.style.color='white'
        }else if(pwd.value==''){
            pwd.value='PASSWORD';
            s4.innerHTML='请填写密码';
            s4.style.color='white';
        }else if (pwd.value.length<=20&& pwd.value.length>=6) {
            s4.innerHTML="密码可用";
             s4.style.color='white';
        }else {
            s4.innerHTML="密码不合法，请输入6-20位";
             s4.style.color='white';
        }
    }
    function checkstatus() {
        username=document.getElementById("sp_username").innerHTML;
        pwd=document.getElementById("sp_password").innerHTML;
        email=document.getElementById("sp_email").innerHTML;
        phone=document.getElementById("sp_phone").innerHTML;
        if (username=="该用户名可用" && phone=="手机号可用" && email=="邮箱可用" && pwd=="密码可用" ){
            return true
        }else {
            return false
        }
    }
</script>
</body>
</html>